<div>
  <form method="POST" action="/posts/<%= @post.id  %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="name">Name: </label>
    <input type="text" value=<%= @post.name %> name="name" id="name">

    <label for="content">Content: </label>
    <input type="text" value=<%= @post.content %> name="content" id="content">

    <input type="submit" id="submit">
  </form>
</div>
